# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Tailwind CSS
wwwroot/css/output.css 